# Ignore everything by default
*

# Keep directories so Git can traverse
!*/

# Allow Python source files
!*.py

# Allow Excel files
!*.xlsx
!*.xlsm
!*.xls

# Allow this ignore file
!.gitignore

# Allow project docs and requirements
!requirements.txt
!Project/README_MEOH.md
